@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Montserrat";
}

li, a, button {
    font-weight: 100;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252A;
}

nav {
    list-style:none;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    color: #1F8B4C;
}

button {
    padding: 9px 25px;
    background-color: #24252A;
}

body{
    background-image:url("/static/mountain.jpg");height:100%;
	background-position:center;background-repeat:no-repeat;background-size:cover;
    min-height: 100%;
    
}

div{
    color:#ecf0f1;
    padding: 10px 20px;
}

html{
    height: 100%;
}

h1 {
    padding: 10px 20px;
    color:#ecf0f1;
    font-size: 50px;
}