@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Montserrat";
}

li, a, button {
    font-weight: 200;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252A;
}

nav {
    list-style:none;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    color: #1F8B4C;
}

button {
    padding: 9px 25px;
    background-color: #24252A;
}

.home{
    background-image:url("/static/mountain.jpg");height:100%;
	background-position:center;background-repeat:no-repeat;background-size:cover;
    min-height: 100%; 
}

.inspiring{
    background-image:url("/static/peaks.jpg");height:100%;
	background-position:center;background-repeat:no-repeat;background-size:cover;
    min-height: 100%; 
}
.comedic{
    background-image:url("/static/stage.jpg");height:100%;
	background-position:center;background-repeat:no-repeat;background-size:cover;
    min-height: 100%; 
}
.philisophical{
    background-image:url("/static/greeks.jpg");height:100%;
	background-position:center;background-repeat:no-repeat;background-size:cover;
    min-height: 100%; 
}
.select{
    background-image:url("/static/woodland.jpg");height:100%;
	background-position:center;background-repeat:no-repeat;background-size:cover;
    min-height: 100%; 
    color:#111111;
}

.imageDisplay {
    position: fixed;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectImage {
    width:200px;
    height:200px;
    border: 2px solid #1a1a1a;
}

div{
    color:#1a1a1a;
    padding: 10px 20px;
}

.bdiv{
    color:#1a1a1a;
    padding: 10px 20px;
}

html{
    height: 100%;
}

h1 {
    padding: 10px 20px;
    color:#1a1a1a;
    font-size: 50px;
}
h2 {
    padding: 10px 20px;
    color:#1a1a1a;
    font-size: 20px;
}

.bh1 {
    color:#1a1a1a;
    font-size: 50px;
}