<style>	
	body{
		/* background-image:url("/static/greeks.jpg");height:100%; */
		/* background-position:center;background-repeat:no-repeat;background-size:cover; */
		/* font-family:calibri; */
	}
	.image-fix{
		width:200px;
		height:200px;
		display:inline-block;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;
		}
	</style>

    <h1> Philosophical Quote</h1>
	
	<form id="login_form" method="post" action="{% url 'QuotePT109:login' %}" style="color:white">
    <!-- {% csrf_token %} -->
		<input type="text" name="quote" value="" placeholder="Custom text, leave blank to generate" size="50" style="height:40px;"/>
    <br /><br />
		<input type="text" name="picture" value="" placeholder="Custom image, leave blank to generate" size="50" style="height:40px;"/>
    <br /><br />
    
</form>
<a href="/QuotePT109/generator/" style="position:absolute;bottom:0px;width:4%;margin-left:48%;"><button type="button" style=";outline:none">Go Back</button></a><br />
<!-- <button type="button" style="position:absolute;bottom:0px;width:4%;margin-left:48%;">Go back</button> -->