{% extends 'QuotePT109/base.html' %}
{% block block_body %}
    <div class="imageDisplay">
        <h1>{{title}}</h1>
        <img id="picture" src=" {{ image }}" style="display: none;">
        <img id="imageConverted" src="imageConverted">
        <p id="quote" style="display: none;">{{ quote }}</p>
        <canvas id="canvas" width="500" height="500" style="display: none;"></canvas>
        <script src="/static/write.js"></script>
    </div>
    <a><button id="downloader" type="button">Save Image</button></a><br />
    <script src="/static/downloadImage.js"></script>
{% endblock %}