{% load staticfiles %} 
	<style>
		body{
		background-image:url("/static/mountain.jpg");height:100%;
		background-position:center;background-repeat:no-repeat;background-size:cover;
		font-family:calibri
	}
	.image-fix{
		width:200px;
		height:200px;
		display:inline-block;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;
		}
	</style>

	
		<div style="float:left;width:30%;">
        <h3 style="color:white;font-size:13;">Most Popular:</h3>
		<p style="color:white;font-size:12;">
            {% if liked_pages %}
                {% for page in liked_pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endfor %}
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
		</p>

        </ul> -->
         <h3 style="color:white;font-size:13">Most Viewed Quotes:</h3>
		 <p style="color:white;font-size:12;">
			{% if viewed_pages %}
                {% for page in viewed_pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endfor %}
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
		 </p>
		</div>
	<div style="float:right;width:70%;text-align:left;">
		<h1 style="color:white;margin-left:30px">Motor Torpedo Quote PT-109</h1>
		<h2 style="text-align:left;font-size:16;color:white;margin-left:15px">"The UK's most innovative creation tool" - Anonymous Quote</h2>
		<!-- <button type="button" href="/QuotePT109/generator/" style="color:white;margin-left:120px;width:200px;height:120px;background-color:blue;font-size:18;text-decoration:underline">Create a Quote</button> -->
	</div>
	
	<div style="float:left;position:absolute;bottom:2%">
	
		<div style="float:left;">
		
			<div class="image-fix" style="background-image:url(/static/inspiration.jpg)">
				<p style="position:absolute;left:30%;bottom:5%;color:white;font-weight:bold">Inspirational</p>
			</div>
			<div class="image-fix" style="background-image:url(/static/jimmy.jpg)">
				<p style="position:absolute;left:33%;bottom:5%;color:white;font-weight:bold">Comedic</p>
			</div>
			<div class="image-fix" style="background-image:url(/static/ponder.jpg)">
				<p style="position:absolute;left:30%;bottom:5%;color:white;font-weight:bold">Philosophical</p>
			</div>
			
		</div>
		<div style="float:right">
		<!--- <button type="button" style=";outline:none">Login</button> -->
		<a href="/QuotePT109/generator/"><button type="button" style=";outline:none">Create a Quote</button></a><br />
		<a href="/QuotePT109/login/"><button type="button" style=";outline:none">Login</button></a><br />
		<a href="/QuotePT109/login/"><button type="button" style=";outline:none">Create Account</button></a><br />
		<!-- <button type="button" style=";outline:none">Create Account</button> -->
		</div>
	</div>