{% extends 'QuotePT109/base.html' %}
{% block block_body %}
    <h1>Motor Torpedo Quote PT-109</h1>
    <h2>"The UK's Most Innovative Creation Tool" - God, 2022<br><br>
        "This website saved my career" - Jimmy Carr, Former Failing Comedian, 2022<br><br>
        "This website got me elected" - Joe Biden, 2022
    </h2>
    <div>
        Motor Torpedo Quote PT-109, named after the famous Motor Torpedo Boat PT-109, is a quote generating platform 
        that allows the users<br>to generate quotes of three types: Inspirational, Philisophical and Comedic.
        It also allows the users to download their quotes for<br>later use, should they decide to want to keep them.
        
    </div>
{% endblock %}