{% load staticfiles %}
<style>	
	body{
		background-image:url("/static/mountain.jpg");height:100%;
		background-position:center;background-repeat:no-repeat;background-size:cover;
		font-family:Calibri;
	}
	.image-fix{
		width:200px;
		height:200px;
		display:inline-block;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;
		}
	</style>

    <div style="margin-left:auto;margin-right:auto;width:30%">
	<h1 style="color:white;text-align:center">Motor Torpedo Quote PT-109</h1>
	<h2 style="font-size:16;color:white;text-align:center">"The UK's most innovative creation tool" - Anonymous Quote</h2>
	
	<h3 style="font-size:20;color:white;text-align:center;">About us</h3>
	<p style="color:white;text-align:center;font-family:calibri">We make funny quotes waffle waffle 
	example example example example example</h3>

</div>

<div style="margin-left:auto;margin-right:auto;width:616px">
	<img src="/static/jimmy.jpg" style="width:200px;height:200px;">
	<img src="/static/ponder.jpg" style="width:200px;height:200px;">
	<img src="/static/inspiration.jpg" style="width:200px;height:200px;"`>
</div>
<a href="/QuotePT109/" style="position:absolute;bottom:0px;width:4%;margin-left:48%;">Go Back</a><br />
<!--<button type="button" href ="/QuotePT109/index/" style="position:absolute;bottom:0px;width:4%;margin-left:48%;">Go back</button>