{% extends 'QuotePT109/base.html' %}
{% block block_body %}
    <h1 class="bh1">Motor Torpedo Quote PT109</h1>
    <div class="bdiv">
        The UK's Most Innovative Creation Tool - God
    </div>
    <a href="{% url 'QuotePT109:generatedComedic' %}">
		<img class="selectImage" src="/static/jimmy.jpg" style="width:200px;height:200px;">
	</a>
	
	<a href="{% url 'QuotePT109:generatedPhilisophical' %}">
		<img class="selectImage" src="/static/ponder.jpg" style="width:200px;height:200px;">
	</a>

	<a href="{% url 'QuotePT109:generatedInspiring' %}">
		<img class="selectImage" src="/static/inspiration.jpg" style="width:200px;height:200px;"`>
	</a>
{% endblock %}